services:

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  python-api:
    build: ./pythonapi
    ports:
      - "8000:8000"    

  node-server:
    build: ./node-backend
    image: theankitdash/finance-tracker:latest
    container_name: finance-tracker
    ports:
      - "3000:3000"
    depends_on:
      - postgres  
      - python-api
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    restart: unless-stopped  

volumes:
  mysql_data: