asyncpg==0.31.0
backports.tarfile==1.2.0
fastapi==0.128.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pip-chill==1.0.3
platformdirs==4.2.2
pyjwt==2.10.1
python-dotenv==1.2.1
seaborn==0.13.2
sentence-transformers==5.2.0
tomli==2.0.1
uvicorn==0.40.0
xgboost==3.1.3
