body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Style the header */
header {
  background-color: white; 
  color: #333;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-header {
  flex: 1;
  text-align: left;
}

.right-header {
  flex: 1;
  text-align: right;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header-menu ul li {
  margin-left: 20px;
}

.header-menu ul li a {
  color: #333; 
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.header-menu ul li a:hover,
.header-menu ul li a:focus {
  background-color: #ddd;
  color: #000;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: left;
}

.analysis-content {
  max-width: 100%;
  margin: 0;
  text-align: left;
  padding: 10px;
}

#loading-indicator {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  flex-direction: column;
}

#loading-indicator p {
  font-size: 1.5em;
  font-weight: bold;
}

#date-form {
  margin-bottom: 20px;
}

#date-form label {
  margin-right: 10px;
}

#date-form input {
  margin-right: 10px;
}

#submit-btn {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: #0056b3;
  outline: none;
}

@media (max-width: 768px) {
  .analysis-content {
    padding: 10px;
  }
}
