body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Style the header */
header {
  background-color: white; 
  color: #333;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-header {
  flex: 1;
  text-align: left;
}

.right-header {
  flex: 1;
  text-align: right;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header-menu ul li {
  margin-left: 20px;
}

.header-menu ul li a {
  color: #333; 
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.header-menu ul li a:hover,
.header-menu ul li a:focus {
  background-color: #ddd;
  color: #000;
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.left-content {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  margin-top: 60px;
}

#date-form {
  margin-bottom: 20px;
}

#date-form label {
  margin-right: 10px;
}

#date-form input {
  margin-right: 10px;
}

#submit-btn {
  padding: 5px 10px;
}

#analysis-section {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .left-content, .right-content {
      max-width: 100%;
  }
}
