body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#date-form {
  margin-bottom: 20px;
}

#date-form label {
  margin-right: 10px;
}

#date-form input {
  margin-right: 10px;
}

#submit-btn {
  padding: 5px 10px;
}

#analyze-btn {
  padding: 5px 10px;
  margin-left: 10px;
  display: none; /* Initially hidden */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#graph-container, #analysis-section {
  flex: 1;
  margin: 10px;
}

#graph-container {
  max-width: 40%;
}

#analysis-section {
  max-width: 50%;
  display: none;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
      flex-direction: column;
  }

  #graph-container, #analysis-section {
      max-width: 100%;
  }
}
